@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body {
    margin-left: 17%;
    margin-right: 17%;

    /* background: rgb(223,129,199);
background: linear-gradient(90deg, rgba(223,129,199,1) 0%, rgba(121,9,109,1) 41%, rgba(0,212,255,1) 100%);  */
}

.header {
    text-align: center;
    margin-top: 50px;
    border: 4px solid black;
    border-bottom: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header h1 {
    color: black;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

#links {
    border: 4px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

#links a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#links a:hover {
    color:brown;
}

.main {
    border: 4px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.main h2 {
    text-align: center;
    color: brown;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#about {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    word-spacing: 5px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#projects {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    column-gap: 1em;
    row-gap: 1em;
    min-height: 200px;
    /* max-height: ; */
    margin-right: 1em;
    margin-left: 1em;
}

.project {
    border: 4px black solid;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    
    font-size: 15px;
    font-weight: bolder;
    word-spacing: 5px;
    font-family: 'M PLUS Rounded 1c', sans-serif;

    background-size: cover;
}

.project p {
    color: black;
    font-size: 20px;
    text-shadow:
    0.05em 0 white,
    0 0.05em white,
    -0.05em 0 white,
    0 -0.05em white;
}

.project:hover {
    background-image: none !important;
    /* background-color: lightcoral !important; */
    cursor: pointer;
}

.project:hover p {
    color: black;
    font-size: 20px;
    text-shadow: none;
}

#contact {
    color: black;
    text-align: center;    
    font-size: 20px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif; 
}

#contact a {
    text-decoration: none;
    color: black;
}

#contact a:hover {
    color: brown;
}

.footer {
    border: 4px black solid;
    border-top: 2px black solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.footer:hover span{
    display: none;
}

.footer::after {
    content: "Back to top";
}

html {
    scroll-behavior: smooth;
}